.card {
  padding: 0.5rem;
  background-color: light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-5)
  );
}

.container {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.transactionDetails {
  gap: 0rem;
}

.daysSinceDeleted {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
}

.buttonGroup {
  align-self: stretch;
}
