services:
  budget-board-server:
    environment:
      POSTGRES_HOST: budget-board-db
      POSTGRES_DATABASE: budgetboard
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: superSecretPassword
      AUTO_UPDATE_DB: true
      EMAIL_SENDER: test@gmail.com
      EMAIL_SENDER_PASSWORD: yourPassword
      EMAIL_SMTP_HOST: smtp.gmail.com
  budget-board-db:
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: superSecretPassword
      POSTGRES_DB: budgetboard