services:
  backend:
    environment:
      - Logging__LogLevel__Default=Information
      - CONNECTION_STRING_USERS={DbServerString}
      - CLIENT_URL=https://example.com
    ports:
      - 8080:8080
  client:
    build:
      args:
        - VITE_API_URL=https://example.com
      ports:
        - 80:80
        - 443:443