# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP.NET Core service.

version: "3.4"

services:
  backend:
    image: money-minder-server
    container_name: backend
    hostname: backend
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./server/Dockerfile
    environment:
      - Logging__LogLevel__Default=Information
  client:
    image: money-minder-client
    container_name: client
    hostname: client
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./client/Dockerfile
    volumes:
      - ./certs/budget-board.pem: /etc/ssl/certs/budget-board.pem:ro
      - ./certs/budget-board.key: /etc/ssl/private/budget-board.key:ro
    ports:
      - 80:80
    depends_on:
      - backend
