.header {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  flex: 0 1 auto;
}

.syncButton {
  flex: 1 0 auto;
  justify-content: flex-end;
}

.burger {
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }
}
