.card {
  width: 100%;
  height: auto;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.content {
  gap: 6px;
}

.group {
  display: flex;
  gap: 0px;
  padding: 0.5rem 1rem;
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-7)
  );
}
