.root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.pageButton {
  height: 62px;
  width: 32px;
  flex: 0 0;
}

.monthCards {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 0;
}
