.root {
  wrap: nowrap;
  container-type: inline-size;
}

.labelContainer {
  width: 49.5%;

  @container (max-width: 447px) {
    width: 40%;
  }
}

.dataContainer {
  flex-grow: 1;
  justify-content: center;
}

.amountContainer {
  width: 33%;
  justify-content: center;
}

.spacer {
  flex-grow: 1;
}

.text {
  font-size: 1.2rem;
  font-weight: 600;

  @container (max-width: 380px) {
    font-size: 1rem;
  }

  @container (max-width: 300px) {
    font-size: 0.8rem;
  }
}
