.root {
  height: 62px;
  width: 60px;
  grow: 0;
  shrink: 0;
  padding: 0.125rem;
  gap: 0;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );

  &:hover {
    outline: 1px solid var(--mantine-primary-color-filled);
  }
}

.rootSelected {
  height: 62px;
  width: 60px;
  grow: 0;
  shrink: 0;
  padding: 0.125rem;
  gap: 0;
  background-color: var(--mantine-primary-color-light);
  outline: 1px solid var(--mantine-color-dark-2);

  &:hover {
    outline: 1px solid var(--mantine-primary-color-filled);
  }
}

.content {
  gap: 0;
  user-select: none;
}

.indicator {
  height: 20px;
  width: 100%;
}
