.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.settingsIcon {
  color: var(--mantine-color-text);

  &:hover {
    color: var(--mantine-color-primary);
  }
}

.headerContainer {
  justify-content: space-between;
  align-items: center;
}

.accountsContainer {
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}
