.root {
  width: 100%;
  max-width: 800px;
  padding: 40px;
}
.card {
  padding: 30px;
  gap: 20px;
}

.cardSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
