.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 100%;
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-7)
  );
}

.column {
  flex: 1;
}

.button {
  flex: 0;
  justify-content: flex-end;
}
