.root {
  padding: 0.5rem;
  container-type: inline-size;
}

.labelContainer {
  width: 48%;

  @container (max-width: 446px) {
    width: 38%;
  }
}

.dataContainer {
  flex-grow: 1;
  justify-content: center;
}

.amountContainer {
  width: 33%;
  justify-content: center;
}

.spacer {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.text {
  font-size: 1rem;
  font-weight: 600;
}
