.categoryHeader {
  font-size: 1rem;
  font-weight: 600;

  @container (max-width: 300px) {
    font-size: 0.8rem;
  }
}

.dataHeader {
  font-size: 1rem;
  font-weight: 500;

  @container (max-width: 300px) {
    font-size: 0.8rem;
  }
}
